body 
{
    height: 80vh;
    max-height: 80vh;
    background-color: #202124;
    font-family: arial, sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    margin: 0;
}
body::-webkit-scrollbar
{
    display: none;
}

nav div
{
    padding: 6px;
}
nav 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 8px;
}
.gmail 
{
    color: #fff;
    margin-bottom: 5px;
    margin-right: 3px;
}
.gmail:hover 
{
    text-decoration: underline;
    cursor: pointer;
}
.images 
{
    color: #fff;
    margin-bottom: 5px;
    margin-right: 15px;
}
.images:hover 
{
    text-decoration: underline;
    cursor: pointer;
}
.btn 
{
    width: 24px;
    margin-right: 8px;
}
.btn:hover 
{
    cursor: pointer;
    background-color: #50505050;
    border-radius: 50%;
}
.container-pdp 
{
    margin-right: 4px;
}
.pdp 
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.container-pdp:hover
{
    cursor: pointer;
    background-color: #50505050;
    border-radius: 50%;
}


.container-middle
{
    height: 600px;
}
.google
{
    min-height: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.container-all-txt
{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.container-contour
{
    margin-bottom: 43px;
}
.container-text
{
    width: 582px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #5f6368 1px solid;
    background: #202124;
    border-radius: 24px;
}
.loupe  
{
    width: 20px;
    position: relative;
    left: -11px;
    top: 2px;
}
#text
{
    width: 443px;
    height: 34px;
    background-color: transparent;
    border: none;
    color: #e8eaed;
    word-wrap: break-word;
    font-size: 16px;
    outline: none;
    margin-right: 18px;
}
.micro
{
    width: 24px;
    height: 24px;
    position: relative;
    right: 8px;
    cursor: pointer;
}
#photo  
{
    width: 24px;
    height: 24px;
    position: relative;
    left: 8px;
}
.photo
{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.container-text:hover
{
    background-color: #303134;
    border: #303134 1px solid;
}

.container-btn
{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.recherche-google
{
    width: 118px;
    height: 34px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #303134;
    border: #303134 1px solid;
    padding: 0 16px 0 15px;
    line-height: 27px;
    margin: 1px 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.recherche-google:hover 
{
    border: #5f6368 1px solid;
}
.recherche 
{
    margin-left: 1px;
}
.chance
{
    width: 106px;
    height: 34px;
    color: #e8eaed;
    font-family: arial, sans-serif;
    font-size: 14px;
    background-color: #303134;
    border: #303134 1px solid;
    padding: 0 15px 0 15px;
    line-height: 27px;
    margin: 1px 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.chance-p
{
    margin-left: 2px;
}
.chance:hover 
{
    border: #5f6368 1px solid;
}
.container-france
{
    margin-top: 170px;
    width: 100%;
    height: 47px;
    padding-right: 10px;
    background-color: #171717;
    border-bottom: 1px solid #3c4043;
}
.france 
{
    font-size: 15px;
    margin-left: 30px;
    color: #9aa0a6;
    padding-top: 15px;
}

.container-fin 
{
    background-color: #171717;
    height: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.container-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.propos 
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.pub
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.entreprise 
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.comment
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.container-2
{
    display: flex;
    margin-top: 15px;
    /* margin-left: 15px; */
}
.feuille
{
    margin-right: 6px;
}
.carbone 
{
    width: auto;
    height: auto;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
    white-space: nowrap;
    vertical-align: top;
}
.container-3
{
    display: flex;
}
.signaler 
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.info 
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.confidentialite
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.conditions
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}
.parametre 
{
    padding: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #9aa0a6;
}


























